@media (min-width: 768px) and (max-width: 991px) {
    /* стили для sm-устройств */
    .header-3_block {
        .header-3_links {
            display: flex;
            flex-wrap: wrap;
            li {
                flex: 0 0 48%;
                margin: 6px 0;
            }
        }
    }
    .brands_content {
        flex-wrap: wrap;
        .brand_card {
            width: 150px;
        }
    }
}